
  <div>
    <div>
      <ul *ngFor="let row of arr">
          <li *ngIf="row.booked">
              <a (click)="selectParking($event,row.booked,row.caption)">
                <img src="assets\images\car_icon\car_blocked_icon_1.png" [title]=row.caption>
              </a>
            </li>
            <li *ngIf="!row.booked">
              <a (click)="selectParking($event,row.booked,row.caption)">
                <img src="assets\images\car_icon\car_vacant_icon_3.png" [title]=row.caption>
              </a>
          </li>
      </ul>
    </div>
    <div id="lane_space"></div>
    <div>
        <ul *ngFor="let row of arr">
        <li *ngIf="row.booked">
          <a (click)="selectParking($event,row.booked,row.caption)">
            <img src="assets\images\car_icon\car_blocked_icon_1.png" [title]=row.caption> 
          </a>
        </li>
        <li *ngIf="!row.booked">
            <a (click)="selectParking($event,row.booked,row.caption)">
              <img src=" assets\images\car_icon\car_vacant_icon_4.png" [title]=row.caption>
            </a>
        </li>
        </ul>
      </div>
      <div>
          <ul *ngFor="let row of arr">
              <li *ngIf="row.booked">
                  <a (click)="selectParking($event,row.booked,row.caption)">
                    <img src="assets\images\car_icon\car_blocked_icon_1.png" [title]=row.caption>
                  </a>
                </li>
                <li *ngIf="!row.booked">
            <a (click)="selectParking($event,row.booked,row.caption)">
              <img src=" assets\images\car_icon\car_vacant_icon_3.png" [title]=row.caption>
            </a>
          </li>
          </ul>
      </div>
    <div id="lane_space"></div>
    <div>
        <ul *ngFor="let row of arr">
            <li *ngIf="row.booked">
                <a (click)="selectParking($event,row.booked,row.caption)">
                  <img src="assets\images\car_icon\car_blocked_icon_1.png" [title]=row.caption>
                </a>
              </li>
              <li *ngIf="!row.booked">
              <a (click)="selectParking($event,row.booked,row.caption)">
                <img src=" assets\images\car_icon\car_vacant_icon_4.png" [title]=row.caption>
              </a>
            </li>
        </ul>
      </div>

  </div>  